extends layout 

block layout-content
  main.about#about
    h1.heading 
      span About Us
    .row 
      div.image
        a(href="#")
          - var img = "../images/aboutImg.jpg"
          img(src=img)
          //-Citation:aboutImg-https://www.casiola.com/wp-content/uploads/2018/12/coffee.jpg
      .segment  
        h3 what makes our coffee special?
        p Established in 1999,Cozmo cafe  Launched its first shop in Alberta.Quickly becoming local sensation for the service and quality that we provided.Few yeras later er expanded our shops and started moving to different location. Cozmo cafe captures a colorful world of cultures, tastes, and smells.We use coffee blends are crafted using beans from around the world: Brazil, Switzerland, Australia, India and more.We partner with local best in class bakeries and food suppliers across the country to provide premium quality food made fresh locally and delivered fresh to our cafes.
        h3 our staff 
        p We will serve you with a new culture where there is always comfort outing and caring service, with a unique experience, all within an affordable price. Our staff is fully dedicated to serve you the best experience each time. All our servings are prepared with great love and passion making each sips exceptionally unique and flavorful.
        p Looking forward to have you visit us. Can't wait to see you all and serve you with an amazing experience.
        
        a(href="#").btn Learn more

