extends layout 

block layout-content
  main.home#home
    div.segment
      h3 Make your day smarter with coffee!   
      p Thats right,caffeine can increase memory, decrease fatigue, improve your mental functioning, study after study suggests.We have a wide variety of coffee beans.Most popular once include Arabica,Cappuccino,Espesso,Emericano,Latte or if you want plain black coffee. 
      a(href="#").btn get yours now